---
import type { FriendGroup } from '@/lib/links'

import FriendCard from '@/components/links/FriendCard.astro'

interface Props {
  title?: string
  list: FriendGroup
}

const { title, list, ...props } = Astro.props
---

{title && <h2 id={list.id_name}>{title}</h2>}
{
  list.link_list.length > 0 ? (
    <div class='grid gap-3.5 sm:grid-cols-2 sm:gap-4 lg:grid-cols-3' {...props}>
      {list.link_list.map((friend) => (
        <FriendCard friend={friend} />
      ))}
    </div>
  ) : (
    <p class='text-sm text-muted-foreground'>这里暂时没有友链。</p>
  )
}
